<template>
  <div class="background">
    <!-- Contenido del componente Home -->
    <p class="title">NACHUIC</p>
  </div>
</template>

<script>
export default {
  props: {
    msg: String
  },
  data() {
    return {
      // tus datos aquí
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .background{
    background-color: #125abe;
  }
  .title {
    color: white;
    font-size: 3rem;
  }
</style>
